body {
  background: #fafafa;
}

.page-content {
  padding-bottom: 66px;
}

.mdl-card {
  min-height: 0;
  width: 100%;
}

.mdl-card__title {
  padding: 16px 16px 0;
}

.mdl-card__title-text {
  font-size: 16px;
}

.mdl-checkbox__label {
  font-size: 14px;
  line-height: 22px;
}

.mdl-cell {
  display: flex;
}

.mdl-layout__header-row .mdl-navigation__link {
  line-height: 1;
}

.download {
  bottom: 10px;
  left: 50%;
  margin-left: -23px;
  position: fixed;
  z-index: 1;
}
