addon-card {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% / 3);
}

@media (max-width: 800px) {
  addon-card {
    width: calc(100% / 2);
  }
}

@media (max-width: 480px) {
  addon-card {
    width: 100%;
  }
}
