@import 'components/addon-grid';
@import 'components/addon-card';
@import 'components/list-picker';
@import 'components/selection-item';

html, body {
  background-color: #fafafa;
}

body {
  opacity: 0;
  transition: opacity 0.22s ease-in;

  &.loaded {
    opacity: 1;
  }
}

main {
  padding: 16px 16px 80px;
}

md-checkbox.addon {
  display: block;
}

.download {
  bottom: 10px;
  left: 50%;
  margin-left: -23px;
  position: fixed;
  z-index: 1;
}
