<!DOCTYPE html>
<html lang="en" ng-app="maclev">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">

    <title>Maclev</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body ng-class="{loaded: true}" ng-controller="AppController as vm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Maclev</span>
        </h2>

        <span flex></span>

        <md-button href="https://github.com/rochdev/maclev"
                   title="GitHub"
                   aria-label="GitHub"
                   class="md-icon-button">
          <md-icon md-svg-src="/content/icons/mark-github.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <main>
      <h1 class="md-title">Presets</h1>

      <md-button class="md-raised md-warn" ng-click="vm.loadPreset('clear')">clear</md-button>
      <md-button class="md-raised md-accent" ng-click="vm.loadPreset('rochdev')">rochdev</md-button>

      <h1 class="md-title">Install</h1>

      <addon-grid>
        <addon-card title="Base">
          <md-checkbox class="addon" disabled ng-checked="true">
            Git
          </md-checkbox>

          <md-checkbox class="addon" disabled ng-checked="true">
            Homebrew
          </md-checkbox>

          <md-checkbox class="addon" disabled ng-checked="true">
            Xcode Command Line Tools
          </md-checkbox>
        </addon-card>

        <addon-card title="Social">
          <md-checkbox class="addon" ng-checked="vm.hasAddon('discord')" ng-click="vm.toggle(vm.addons, 'discord')">
            Discord
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('gitter')" ng-click="vm.toggle(vm.addons, 'gitter')">
            Gitter
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('slack')" ng-click="vm.toggle(vm.addons, 'slack')">
            Slack
          </md-checkbox>
        </addon-card>

        <addon-card title="Browsers">
          <md-checkbox class="addon" ng-checked="vm.hasAddon('chrome')" ng-click="vm.toggle(vm.addons, 'chrome')">
            Chrome
          </md-checkbox>
        </addon-card>

        <addon-card title="Text Editors">
          <md-checkbox class="addon" ng-checked="vm.hasAddon('atom')" ng-click="vm.toggle(vm.addons, 'atom')">
            Atom
          </md-checkbox>
        </addon-card>

        <addon-card title="Tools">
          <md-checkbox class="addon" ng-checked="vm.hasAddon('docker')" ng-click="vm.toggle(vm.addons, 'docker')">
            Docker Toolbox
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('github')" ng-click="vm.toggle(vm.addons, 'github')">
            GitHub Desktop
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('vagrant')" ng-click="vm.toggle(vm.addons, 'vagrant')">
            Vagrant
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('virtualbox') || vm.hasAddon('docker')" disabled>
            VirtualBox
          </md-checkbox>
        </addon-card>

        <addon-card title="Languages">
          <md-checkbox class="addon" ng-checked="vm.hasAddon('node')" ng-click="vm.toggle(vm.addons, 'node')">
            Node.js
          </md-checkbox>

          <md-checkbox class="addon" ng-checked="vm.hasAddon('ruby')" ng-click="vm.toggle(vm.addons, 'ruby')">
            Ruby
          </md-checkbox>
        </addon-card>

        <addon-card title="Brew Formulas">
          <list-picker
            source="/search/brew"
            destination="vm.brewFormulas"
            placeholder="Add a homebrew formula"
            min-length="2"></list-picker>
        </addon-card>

        <addon-card title="Brew Casks">
          <list-picker
            source="/search/cask"
            destination="vm.brewCasks"
            placeholder="Add a homebrew cask"
            min-length="2"></list-picker>
        </addon-card>

        <addon-card title="Node Versions" ng-if="vm.hasAddon('node')">
          <list-picker
            source="/search/node"
            destination="vm.nodeVersions"
            placeholder="Add a node version"></list-picker>

          <md-input-container ng-if="vm.nodeVersions.length">
            <label>Default version</label>

            <md-select style="width: 200px;" ng-model="vm.nodeDefault" placeholder="Default version">
              <md-option ng-value="version" ng-repeat="version in vm.nodeVersions track by version">{{::version}}</md-option>
            </md-select>
          </md-input-container>
        </addon-card>

        <addon-card title="Node Modules" ng-if="vm.hasAddon('node')">
          <list-picker
            source="/search/npm"
            destination="vm.nodeModules"
            placeholder="Add a node module"></list-picker>
        </addon-card>

        <addon-card title="Ruby Versions" ng-if="vm.hasAddon('ruby')">
          <list-picker
            source="/search/ruby"
            destination="vm.rubyVersions"
            placeholder="Add a ruby version"
            min-items="1"></list-picker>

          <md-input-container ng-if="vm.rubyVersions.length">
            <label>Default version</label>

            <md-select style="width: 200px;" ng-model="vm.rubyDefault" placeholder="Default version">
              <md-option ng-value="version" ng-repeat="version in vm.rubyVersions track by version">{{::version}}</md-option>
            </md-select>
          </md-input-container>
        </addon-card>

        <addon-card title="Ruby Gems" ng-if="vm.hasAddon('ruby')">
          <list-picker
            source="/search/gems"
            destination="vm.rubyGems"
            placeholder="Add a ruby gem"
            min-items="1"></list-picker>
        </addon-card>
      </addon-grid>
    </main>

    <md-button class="md-fab md-accent download"
               aria-label="Download"
               ng-href="/download?{{vm.createLink()}}"
               target="_self">
      <md-tooltip md-direction="top">
        Download
      </md-tooltip>

      <md-icon md-svg-src="/content/icons/ic_get_app_white_24px.svg"></md-icon>
    </md-button>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
